In [1]:
import pymongo
import pandas as pd
koneksi4 = pymongo.MongoClient\
        ("mongodb://ferina:nw9f20d@10.25.4.100:27017/alfagift_product")
mydb = koneksi4["alfagift_product"]
mycol = mydb["alfagift_mcs_prices"]

In [10]:
for i in range(0,2,1):
    print(i)

0
1

In [7]:
cp = pd.read_excel('../20210421_TagI_Competitiveness.xlsx', sheet_name=1)

In [8]:
cp

,PLU,PRODUK,url
0,426116,TROP'S SALTY SOY SAUCE 200ML,https://www.klikindomaret.com/product/salty-so...
1,426117,TROP'S SOY SAUCE 200ML,https://www.klikindomaret.com/product/kecap-diet
2,426118,TROP'S SUGAR FREE HONEY 350ML,https://www.klikindomaret.com/product/sugar-fr...
3,150074,TROP'S CORN OIL 946ML,https://www.klikindomaret.com/product/corn-oil-2
4,426120,TROP'S EXT VRG OLV OIL 500ML,https://www.klikindomaret.com/product/extra-vi...
...,...,...,...
79,426604,Lotus Biscoff Biscuit 156 g,https://www.klikindomaret.com/product/biscoff-...
80,425947,JOHNSONS B CTN BATH 500ML,https://www.klikindomaret.com/product/cottonto...
81,340065,JOHNSON'S B.BATH MILK+RICE500ML,https://www.klikindomaret.com/product/baby-bat...
82,426449,XTRAGIN LEMON JAHE BOX 5X18G,https://www.klikindomaret.com/product/minuman-...
83,426450,XTRAGIN KUNYIT ASAM BOX 5X23G,https://www.klikindomaret.com/product/minuman-...

In [2]:
mcs_prices = pd.DataFrame(mycol.find({"tag_prod": "I"}))

In [3]:
mcs_prices

,_id,kode_dc,plu,qty0,qty1,qty2,cprice0,cprice1,cprice2,cf_price0,cf_price1,cf_price2,tag_prod,last_update_sync,_class,d_b_fp,d_e_fp,d_b_fp1,d_e_fp1
0,"{'kode_dc': 'KZ01', 'plu': 850630}",KZ01,850630,0.0,0.0,1.0,0.0,0.0,350000.0,0.0,0.0,0.0,I,2021-04-23 20:17:34.050,id.alfadigital.alfagift.subscriber.db.mongo.do...,NaT,NaT,NaT,NaT
1,"{'kode_dc': 'KZ01', 'plu': 321705}",KZ01,321705,0.0,0.0,1.0,0.0,0.0,33000.0,0.0,0.0,0.0,I,2021-04-23 20:17:24.966,id.alfadigital.alfagift.subscriber.db.mongo.do...,NaT,NaT,NaT,NaT
2,"{'kode_dc': 'KZ01', 'plu': 416798}",KZ01,416798,0.0,0.0,1.0,0.0,0.0,59900.0,0.0,0.0,0.0,I,2021-04-23 20:17:28.939,id.alfadigital.alfagift.subscriber.db.mongo.do...,NaT,NaT,NaT,NaT
3,"{'kode_dc': 'KZ01', 'plu': 416799}",KZ01,416799,0.0,0.0,1.0,0.0,0.0,59900.0,0.0,0.0,0.0,I,2021-04-23 20:17:28.940,id.alfadigital.alfagift.subscriber.db.mongo.do...,NaT,NaT,NaT,NaT
4,"{'kode_dc': 'KZ01', 'plu': 416800}",KZ01,416800,0.0,0.0,1.0,0.0,0.0,59900.0,0.0,0.0,0.0,I,2021-04-23 20:17:28.941,id.alfadigital.alfagift.subscriber.db.mongo.do...,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4132,"{'kode_dc': 'KZ01', 'plu': 426449}",KZ01,426449,0.0,0.0,1.0,0.0,0.0,13900.0,0.0,0.0,0.0,I,2021-04-23 20:17:33.592,id.alfadigital.alfagift.subscriber.db.mongo.do...,NaT,NaT,NaT,NaT
4133,"{'kode_dc': 'KZ01', 'plu': 426450}",KZ01,426450,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,I,2021-04-23 20:17:33.593,id.alfadigital.alfagift.subscriber.db.mongo.do...,NaT,NaT,NaT,NaT
4134,"{'kode_dc': '1MZ1', 'plu': 426448}",1MZ1,426448,0.0,0.0,1.0,0.0,0.0,12900.0,0.0,0.0,0.0,I,2021-04-23 20:27:52.781,id.alfadigital.alfagift.subscriber.db.mongo.do...,NaT,NaT,NaT,NaT
4135,"{'kode_dc': '1MZ1', 'plu': 426449}",1MZ1,426449,0.0,0.0,1.0,0.0,0.0,13900.0,0.0,0.0,0.0,I,2021-04-23 20:27:52.782,id.alfadigital.alfagift.subscriber.db.mongo.do...,NaT,NaT,NaT,NaT
4136,"{'kode_dc': '1MZ1', 'plu': 426450}",1MZ1,426450,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,I,2021-04-23 20:27:52.783,id.alfadigital.alfagift.subscriber.db.mongo.do...,NaT,NaT,NaT,NaT

In [5]:
import pymysql
con_mysql = pymysql.connect(host='35.247.191.177',
                             user='user_bc',
                             password='bcgl12021',
                             db='report')

In [6]:
q = 'select * from alfagift_tag_i'

In [8]:
alfagift_tag = pd.read_sql(q, con_mysql)

In [11]:
alfagift_tag

,ati_sku,ati_product_name,ati_product_price,ati_product_seller,ati_product_url,ati_created_date
0,42621,MamyPoko Pants Royal Soft - S 70 - Popok Celana,152900,unicharm.id,https://shopee.co.id/MamyPoko-Pants-Royal-Soft...,2021-04-26 01:33:15
1,426220,PONDAN BROWNIES KUKUS KETAN HITAM LAPIS PANDAN...,21800,pondanfood,https://shopee.co.id/PONDAN-BROWNIES-KUKUS-KET...,2021-04-26 01:33:15
2,404232,PEWARNA COKLAT (30ml),3150,koepoekoepoe.id,https://shopee.co.id/PEWARNA-COKLAT-(30ml)-i.5...,2021-04-26 01:33:15
3,426235,Jay's Nutmeg Ground (Pala Bubuk) 65gr,20800,smart_byshopee,https://shopee.co.id/Jay's-Nutmeg-Ground-(Pala...,2021-04-26 01:33:15
4,819654,Pampers Premium Care Celana XL 54 pcs â€“ Extra ...,273700,pgofficialstore,https://shopee.co.id/Pampers-Premium-Care-Cela...,2021-04-26 01:33:15
...,...,...,...,...,...,...
165,426122,Tropicana Slim Sambal Terasi 200 gram - Bantu ...,22500,nutrimart,https://shopee.co.id/Tropicana-Slim-Sambal-Ter...,2021-04-26 01:33:15
166,426103,Mujigae Oden Korean Fish Cake 120 gr,28500,smart_byshopee,https://shopee.co.id/Mujigae-Oden-Korean-Fish-...,2021-04-26 01:33:15
167,417243,Zwitsal Baby Fabric Softener 425 ml NEW,19900,oramibybilna,https://shopee.co.id/Zwitsal-Baby-Fabric-Softe...,2021-04-26 01:33:15
168,838542,Appeton Weight Gain Adult Vanilla 450Gr,365000,vivaapotekofficial.semarang,https://shopee.co.id/Appeton-Weight-Gain-Adult...,2021-04-26 01:33:15
169,42627,Saniter All Surface Bottle Spray 450 ml,17200,godrejindonesia,https://shopee.co.id/Saniter-All-Surface-Bottl...,2021-04-26 01:33:15